@media screen and (min-width: 1024px) {
    .sobre_nosotros {
        display: flex;
    }
    .sobre_nosotros__contenido {
        margin-right: 3rem;
    }
    .sobre_nosotros__titulo {
        text-align: left;
    }
    .sobre-nosotros__texto--division {
        border-bottom: 1px solid var(--cinza-medio);
        padding-bottom: 1.5rem;
    }
    .sobre-nosotros__imagen {
        display: block;
    }
}